<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Favour Markson - Resume</title>
</head>
<body>
  <header>
    <h1>Favour Markson</h1>
  </header>

  <section>
    <h2>Contact Information</h2>
    <ul>
      <li>Email: <a href="mailto:marksonfrosh@gmail.com">marksonfrosh@gmail.com</a></li>
      <li>Phone: (234) 818 367 9548</li>
    </ul>
  </section>

  <section>
    <h2>Summary</h2>
    <p>I am a proactive Computer Science undergraduate studying at the University of Ibadan, Nigeria. My passion for developing innovative solutions drives me to implement streamlined procedures that enhance performance. I possess advanced skills in Python programming, as well as creating and developing web applications using HTML, CSS, and JavaScript. 
    My aim is to apply my programming expertise to open-source projects, internships, and various software and application development endeavors. I am also eager to join tech-related communities that align with my interests.</p>
  </section>

  <section>
    <h2>Experience</h2>
    <ul>
      <li>
        <h3>Zuri Internship</h3>
        <p>Full Stack Developer, Remote. 05/2022 - 08/2022 </p>
        <p>During my four-month internship at Zuri, I had the opportunity to gain hands-on experience in full-stack web development, using a variety of technologies such as HTML, CSS, JavaScript, and Python. As a team member, I contributed to the development of responsive websites and web applications, employing Agile development methodologies to ensure the timely delivery of high-quality code. Additionally, I gained valuable experience deploying applications to cloud-based services, as well as writing efficient code to enhance application performance. Through my experience at Zuri, I have built a solid foundation in web development and acquired practical skills that are essential for success in the industry.</p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Skills</h2>
    <ul>
      <li>HTML and CSS</li>
      <li>Javascript</li>
      <li>React</li>
      <li>Bootstrap</li>
      <li>Python</li>
      <li>Django</li>
      <li>SQL</li>
    </ul>
  </section>

  <section>
    <h2>Projects</h2>
    <ul>
      <li>
        <h4>Learning Log</h4>
        <p>I built a Learning Log web application with Django, a web framework for Python. The purpose of this application is to allow users to create an account and log in to access their own learning log, where they can create new topics and add entries to each topic. Entries can be viewed individually and edited or deleted as needed. The website's simple and responsive user interface makes it easy to navigate and use. This application was created as a project to demonstrate an understanding of Django's core concepts.</p>
        <p><strong>Technologies Used:</strong> HTML, CSS, Python(Django Framework), Bootstrap</p>
        <p><strong>Github site:</strong> <a href="https://github.com/Markson17/Learning-log/">Learning Log</a></p>
        <p><strong>Deployed site:</strong> This is the link to the <a href
